
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="headerA">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="@Url.Action("Index","Home")"> <img src="@Url.Content("~/images/LGN.png")" width="105px"></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <div class="search-box">
                            <input class="search-txt" type="text" name="" placeholder="Bạn muốn tìm gì?">
                            <a class="search-btn" href="">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li><a><i class="fa fa-home"></i></a>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>
                        <a><i class="fa fa-apple"></i></a>@Html.ActionLink("Apple", "Apple", "Home")
                        <div class="sub-menu-1">
                            <ul>
                                <li><a href="ip12pm.html">Iphone 12</a></li>
                                <li><a href="">Iphone 11</a></li>
                                <li><a href="">Iphone SE</a></li>
                                <li><a href="">Iphone X</a></li>
                                <li><a href="">Iphone 8</a></li>
                                <li><a href="">Iphone 7</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a><i class="fa fa-mobile"></i></a>@Html.ActionLink("Samsung", "Samsung", "Home")
                        <div class="sub-menu-1">
                            <ul>
                                <li><a href="">Galaxy Fold</a></li>
                                <li><a href="">Galaxy Z Flip</a></li>
                                <li><a href="">Galaxy Note</a></li>
                                <li><a href="">Galaxy S</a></li>
                                <li><a href="">Galaxy A</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a><i class="fa fa-newspaper-o"></i></a>@Html.ActionLink("Tin tức", "tintuc", "Home")</li>
                    <li><a><i class="fa fa-user"></i></a>@Html.ActionLink("Tài khoản", "Dangnhap", "Home")</li>
                    <li><a><i class="fa fa-envelope-o"></i></a>@Html.ActionLink("Liên hệ", "lienhe", "Home")</li>
                </ul>
            </nav>
            <a href=""> <img src="@Url.Content("~/images/favicon.ico")" width="30px" height="30px"></a>
        </div>
    </div>
</div>
<section class="contact" style="" >
    <div class="content">
        <h2>Liên Hệ Với Chúng Tôi</h2>
        <p>Teklican - Chuyên cung cấp các dòng điện thoại chính hãng, chất lượng</p>
    </div>
    <div class="container-ct">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Địa chỉ</h3>
                    <table width="200px" class="fixtable">
                        <tr>
                            <td>80/68 Dương Quảng Hàm</td>
                        </tr>
                        <tr>
                            <td>P. 5, Q. Gò Vấp</td>
                        </tr>
                        <tr>
                            <td>
                                Hồ Chí Minh
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Điện thoại</h3>
                    <p>0903192469</p>
                </div>
            </div>

            <div class="box">
                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>teklicanstore@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form action="">
                <h2>Liên Hệ - Góp Ý</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Họ và tên</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Để lại lời nhắn...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Gửi">
                </div>
            </form>
        </div>
    </div>
</section>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>INFORMATION</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="footer-col-2">
                <img src="images/imgf.png" alt="">
                <p>Teklican - Bán điện thoại chính hãng</p>
            </div>
            <div class="footer-col-3">
                <h3>FOLLOW US</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
